<!DOCTYPE html>
<html>
    <head>
        <title>Categoria</title>
        <script>
            function goBack() {
              window.history.back();
            }
        </script>
    </head>
    <body style= "padding:20px">
    
        <h1>Operações a Categorias</h1>
        <h2>Inserir e Remover Categorias e Subcategorias</h2>
        <h2>Listar todas as subcategorias de uma super-categoria</h2>
       
        <div id="tabela">
            <button onclick="window.location.href='menu'">Menu principal</button>
            <button onclick="window.location.href='retalhista/inserir'">Inserir Retalhista</button>
        {% if cursor %}
        <table id="menu">
            <thead>
            <tr>
            <th> TIN </th>
            <th> Nome </th>
            </tr>
        </thead>
        {% for record in cursor %}
        <tr>
            <td> {{ record[0] }} </td>
            <td> {{ record[1] }} </td>
            <td><a href= "retalhista/remover?tin={{ record[0]}}&nome={{ record[1]}}"> Remover </a></td >
        </tr>
        {% endfor %} 
        </table>
        </div>
        {% else %}
        <p> Erro: não foi possível obter dados da base de dados! </p>
        {% endif %}
    </body>
</html>