<doctype html>
    <title>Menu Principal - Odisseia</title>
    <body style="padding:20px">
        <h1>Odisseia - Base de Dados</h1>
        <table id="menu">
            <thead>
            <tr>
                <th>Menu Odisseia</th>
            </tr>
            </thead>
            <tr><td><a href="retalhista">Retalhista</a></td></tr>
            <tr><td><a href="medicos">Médicos</a></td></tr>
            <tr><td><a href="prescricoes">Prescrições</a></td></tr>
        </table>
    </body>
    </doctype>