<!DOCTYPE html>
<html>
    <head>
        <title>Eventos Reposição</title>
        <script>
            function goBack() {
              window.history.back();
            }
        </script>
    </head>
    <body style= "padding:20px">
    
        <h1>Menu Eventos de Reposição</h1>
       
        <div id="tabela">
            <button onclick="window.history.go(-2)">Menu IVMs</button>
        {% if cursor1 %}
        <table id="eventos">
            <thead>
            <tr>
            <th> Número Série </th>
            <th> Fabricante </th>
            <th> NRO </th>
            <th> EAN </th>
            <th> Instante </th>
            </tr>
        </thead>
        {% endif %}
        {% for record in cursor1 %}
        <tr>
            <td> {{ record[0] }} </td>
            <td> {{ record[1] }} </td>
            <td> {{ record[2] }} </td>
            <td> {{ record[3] }} </td>
            <td> {{ record[4] }} </td>
        </tr>
        {% endfor %} 
        </table>
        {% if cursor2 %}
        <table id="categorias">
            <thead>
            <tr>
            <th> Categoria </th>
            <th> Unidades </th>
            </tr>
        </thead>
        {% endif %}
        {% for record in cursor2 %}
        <tr>
            <td> {{ record[0] }} </td>
            <td> {{ record[1] }} </td>
        </tr>
        {% endfor %} 
        </table>
        </div>
    </body>
</html>
