<html>
    <body style="font-family: Arial, Helvetica, sans-serif">
        <div>
            <h1>Deseja ver os eventos de reposição da IVM?</h1>
            <form action="executar_listar_eventos" method="post">
                <input type= "hidden" name="num_serie" value= "{{ params.get('num_serie') }}" />

                <label>Número de Série</label>
                <input type="text" name="num_serie" value="{{ params.get('num_serie') }}" disabled/>

                <label>Fabricante</label>
                <input type="text" name="fab" value="{{ params.get('fab') }}" disabled/>

                <input type="submit" value="Listar"/> <input type= "button" onclick="goBack()" value= "Cancelar"/>
            </form>
        </div>
    </body>
</html>
<script>function goBack() {window.history.back();}</script>